* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	background: #E5E5E5;
}
section {
	padding:4em 0;
}
a {
	color: #C0535E;
}

a:visited {
	color: #B54E59;
}

a:hover {
	color: #FF94AB;
}

.hero{
	width:10em;
}

.quote {
	font-style: italic;
}

header {
	background-color: #7F7F7F;
	padding: 10px;
	color: #E5E5E5; 
}
footer {
	background-color: #7F7F7F;
	padding: 10px;
	color: #404040; 
	text-align: center;
}

#intro {
	background:url(../oscar-aguilar-327798-unsplash.jpg);
	background-size: cover;
	height: 80vh;
	color: #fff;
}
